*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

    $bg-main: #1c1c1c;
    $bg-products: #0282f9;
    $bg-footer: #303030;

    $text-comics: #fff;
    $text-active: #037def;
    $text-header: #65829b;
    $text-main: #e3f3fd;
